<div class="headerEpisode">
    <h4 class="fw-bold" style="padding: 10px;">All Episodes :</h4>
</div>
<div class="my-4" *ngFor="let ep of episodes">
<ul class="list-group list-group-light animte" >
    <li class="container-card-new d-flex justify-content-between align-items-center">
       <div class="d-flex align-items-center">
          <img [src]="'https://image.tmdb.org/t/p/original'+ep?.still_path" class="rounded float-start" alt="" style="width: 180px; height: 100Px" />
        <div class="d-flex align-items-center justify-content-between">
            <div class="ms-2">
                <h6 class="fw-bold mb-2"><span>{{ep?.episode_number}}  </span>{{ep?.name}}</h6>
                <!-- <p class="text-muted mb-0">{{ep?.name}}</p> -->
                <p class="text-muted mrd mb-2" style="font-size: small;">{{ep?.overview}}</p>
                <h6 class="text-muted mb-0" style="font-size: small;">{{ep?.air_date | date:'mediumDate'}}&nbsp;&nbsp;<span><i class="fa fa-clock-o" aria-hidden="true"></i> {{ep.runtime}}m</span></h6>
              </div>
        </div>
      </div>
    </li>
  </ul>
</div>  
 
