.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    align-items: baseline;
    margin-top: -10px;
}
.card-text{
    padding: 4px;
}
h6{
   display: inline-block;
   width: 180px;
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
}
.justify-content-start {
    justify-content: space-around!important;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -15px;
}
.dot{
    margin-top: -3px;
}